<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		var io = io.connect();

		io.on("onlineuser", function(data){
			// console.log(data);
			$(".list-group").html("");
			var code="";
			for(var user in data){
				code +="<li class='list-group-item'><a onclick='selectuser(\""+data[user]+"\", \""+user+"\")' href='#'>"+user+"</a></li>";
			}
			$(".list-group").html(code);
			});
		// });
		var currentUser="";
		io.on("currentUser", function(cuser){
			// obj=cuser;
			currentUser=cuser;
			// console.log(cuser);
			$("#you").html(cuser);

		});


		io.on("message", function(data){
			var old = $("#show_msg").html();
			old += "<b>"+data.sender+"</b>: "+data.msg+"</br >";
			$('#show_msg').html(old);
		});


		var selectuserid="";
		function selectuser(x, y)
		{
			selectuserid=x;
			$("#s_user").html(y);
		}
		function send()
		{
			var sendObj={};
			sendObj.sender=currentUser;
			sendObj.recId = selectuserid;
			sendObj.msg = $("#msg").val();
			console.log(sendObj);
			io.emit("message", sendObj);



		}




	</script>
</head>
<body>
<div class="container">
	<div class="col-md-4">
	<h1>Logged In User</h1>
	<ul class="list-group">
	  <li class="list-group-item">First item</li>
	  <li class="list-group-item">Second item</li>
	  <li class="list-group-item">Third item</li>
	</ul>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<h3>Chat Box</h3>
		<h3>You <span class="label label-info" id="you"></span>
		<h4>Chat With<span class="label label-warning" id="s_user"></span></h4>
		<div class="well" id="show_msg" style="min-height: 400px; overflow-y:scroll;"></div>
		<br />
		<input type="text" class="form-control"  id="msg" placeholder="Message">
		<br />
		<button class="btn btn-success" onclick="send()">Send</button>
	</div>
</div>
</body>
</html>