<!DOCTYPE html>
<html ng-app="<%= appName; %>">
<head>
	<title></title>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/student.js"></script>
	<script type="text/javascript" src="/js/navbar.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript">
		// console.log(document.cookie);

	</script>
</head>
<body ng-controller="<%= ctrlName; %>" ng-init="getAll()">
	<div class="col-lg-6">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Object Store</h3></div>
            <div class="panel-body">
<table class="table table-condensed" style="border-collapse:collapse;">

    <thead>
        <tr>
        					<td>S.No.</td>
        					<td>Full Name</td>
        					<td>Fee</td>
        					<td>City</td>
        					<td>State</td>
        				</tr>
    </thead>

    <tbody ng-repeat="row in allStu">
		<tr data-toggle="collapse" data-target="#demo{{ $index }}" class="accordion-toggle" >
			<td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
			<td ng-bind="($index+1)+pagination.skip"></td>
			<td ng-bind="row.full_name"></td>
			<td ng-bind="row.fee"></td>
			<td ng-bind="row.city"></td>
			<td ng-bind="row.state"></td>
		</tr>

        <tr>
            <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo{{ $index }}"> 
              <table class="table table-striped">
                      <thead>
                        <tr><td><a href="WorkloadURL">Workload link</a></td><td>Bandwidth: Dandwidth Details</td><td>OBS Endpoint: end point</td></tr>
                        <tr><th>Access Key</th><th>Secret Key</th><th>Status </th><th> Created</th><th> Expires</th><th>Actions</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>access-key-1</td><td>secretKey-1</td><td>Status</td><td>some date</td><td>some date</td><td>
                        	<a href="" ng-click="call($index)" class="btn btn-default btn-sm"> Click Here
                  <i class="glyphicon glyphicon-cog"></i></a></td></tr>
                        
                     
                    
                      </tbody>
               	</table>
              
              </div> </td>
        </tr>
    </tbody>
        
    </tbody>
</table>
            </div>
        
          </div> 
        
      </div>
       



</body>
</html>