
<div class="container" style="height: auto;">
	<h3>About Page</h3>
	<div class="col-md-4 col-sm-4 col-sm-offset-4">
	<form action="/about" method="post">
		<div class="form-group">
			<label>Full Name</label>
			<input type="text" name="full_name" class="form-control">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" name="email" class="form-control">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" name="password" class="form-control">
		</div>
		<div class="form-group">
			<label>Address</label>
			<textarea class="form-control" name="add"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Submit">
		</div>
	</form>
	</div>
</div>
